AR_calcFN.m*
AR_mypolyhedral.m*
Lightcurve_Generator_Conv_v3.m
MikkoRead_v2.m
basics_tutorial_162p.m
chi_read_from_convexinv.m
convex_inversion_handling_162p.m
datefromjd.m*
errbar.m*
fits_fromLCres_function.m*
pault_colormap.m
plot_chi_plane.m
plot_chibowl_from_convexinv.m
plot_shape_POS_light.m
plot_shape_publication.m
plot_shifted_LC_162p.m
read_model_from_par_file.m
read_vertices_and_faces_from_obj_file.m*
sky_spheres_chi.m
test_matlab.m
test_sim_eqs.m
